.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.from-right i {
    font-size: 100px;
}

.loginf{
    color: hsl(0, 0%, 96%);
    text-align: center;
    background-color: rgb(145, 10, 130);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.logint{
    text-align: center;
}

.login{
    color: aliceblue;
    background-color: rgb(222, 145, 22);
    width: 50%;
    border: none;
    padding: 7px;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
}

.login:hover{
    color: rgb(0, 0, 0)
}

.from-right{
    background-color: rgb(145, 11, 130);
}

.style{
    height: 100px;
    right: 100px;
}

.from-right{
    background-color: rgb(145, 10, 130);
}

.loginbtn{
    text-decoration: none;
    color: white;
}